h4 {
    text-align: left;
}

.passwordList {
    background-color: #2a9d8f;
    list-style-type: none;
    padding: 5px;
    width: 40%;
    border-radius: 5px;
}

.passwordList li {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.listButton {
    align-self: flex-end;
    margin: 0;
}
.dlt-button {
    margin-right: 10px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
}

.edt-button {
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
}